<nav class="main-menu">
    <ul class="nav-links">
        <div class="logo">
            <img src="{{ url_for('static', filename='png/logo.png') }}" alt="">
            <p>
                <div class="title">
                    <h1>LARM</h1>
                    <span>Laboratory of Acustic and Radom Monitoring</span>
                </div>
            </p>
        </div>
        <li><a href="{{ url_for('index') }}"><span class="icon"><i class="fas fa-home"></i></span><span>Home</span></a></li>
        <li><a href="{{ url_for('users') }}"><span class="icon"><i class="fas fa-cog"></i></span><span>Users</span></a></li>
    </ul>
</nav>