<nav class="main-menu">
    <ul class="nav-links">
        <div class="head-menu"><h1>Station</h1></div>
        <!-- <hr> -->
        <li><a href="{{ url_for('index') }}"><span class="icon"><i class="fas fa-home"></i></span><span>Home</span></a></li>
        <li><a href="{{ url_for('dashboard') }}"><span class="icon"><i class="fas fa-chart-line"></i></span><span>Dashboard</span></a></li>
        <li><a href="{{ url_for('file_list') }}"><span class="icon"><i class="fas fa-file-upload"></i></span><span>Day files</span></a></li>
        <li><a href="{{ url_for('settings') }}"><span class="icon"><i class="fas fa-cog"></i></span><span>Settings</span></a></li>
    </ul>
</nav>